# Папката с библиотеките (най-важното!)
node_modules/

# Резултатът от компилацията
dist/
tmp/
out-tsc/
bazel-out/

# Локални настройки на IDE-то (VS Code)
.vscode/

# Системни файлове
.DS_Store
Thumbs.db

# Локални променливи на средата
.env