<div class="app">
  <header>
    <h1>Angular project</h1>
    <nav>
      <button (click)="changeView('home')">Home</button>
      <button (click)="changeView('counter')">Counter</button>
      <button (click)="changeView('rxjsdemo')">RxJS</button>
      <button (click)="changeView('Http')">HTTP</button>
    </nav>
  </header>

  <main>
    @if (currentView === 'home') {
      <app-home />
    } @else if (currentView === 'counter') {
      <app-counter />
      <app-event-timer />
      <app-rx-demo />
    } @else if (currentView === 'rxjsdemo') {
      <app-rxjs-demo />
      <app-movie-list />
    } @else if (currentView === 'Http') {
      <app-posts />
    }
  </main>
</div>